<!DOCTYPE html>

<html>
  <head>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="css/style.css" />
    <title>Home</title>
    
  </head>

  <body>
    <div class="main-content">
      {{>header}}
    <form>
      <input placeholder="Location" class="address">
      <button>Search</button>
    </form>
    </div>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
    {{>footer}}
    <script src="js/index.js"></script>
  </body>
</html>
